# Visual Studio (Code) CMake Integration
.vs
.vscode
CMakeSettings.json

# Regular CMake Stuff
build
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake